/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $darkest-blue;
	color: white;
	font-weight: normal;
	padding: 4pt;
	border-radius: 7px;
	transition: width 2s;
	font-family: serif;
	font-size: 12pt;
	text-align: center;
	text-transform: lowercase;
	transition-duration: 2000ms;
	-webkit-transition-duration: 2000ms;
}

button:hover {
	width: 100%;
	background-color: $blue;
	border-color: red;
	
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
