.game-board{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    height: 400px;
    margin-top: 20%;
}
.row{
    display: flex;
}

.tile {
  height: 20px;
  width: 20px;
  background: lightgray;
  float: left;
  border-style: outset;
  border-width: 2px;
  line-height: 20px;
  padding-left: 3px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.unexplored{
  border-style: outset;
}
.tile.explored{
    border-style: inset;
}